*.vo
*.glob
*~
*.aux
*.cache
*.cmi
*.cmx
*.o
hs/*.hi
hs/*.o
hs/PerceptronTest
hs/Perceptron.hs
hs/KPerceptronTest
hs/KPerceptron.hs
hs/KPerceptronBudgetTest
hs/KPerceptronBudget.hs
hs/KPerceptronDesTest
hs/KPerceptronDes.hs
hs/KPerceptronRunFile
hs/KPerceptronBudgetRunFile
hs/KPerceptronDesRunFile
hs/criterion_drivers/*.hi
hs/criterion_drivers/*.o
hs/criterion_drivers/KPerceptron.hs
hs/criterion_drivers/KPerceptronBudget.hs
hs/criterion_drivers/KPerceptronDes.hs
hs/criterion_drivers/KPerceptron20FileIO
hs/criterion_drivers/KPerceptronIris50FileIO
hs/criterion_drivers/KPerceptronIris75FileIO
hs/criterion_drivers/KPerceptronSonar50FileIO
hs/criterion_drivers/KPerceptronSonar75FileIO
hs/criterion_drivers/KPerceptronBudget20FileIO
hs/criterion_drivers/KPerceptronBudgetIris50FileIO
hs/criterion_drivers/KPerceptronBudgetIris75FileIO
hs/criterion_drivers/KPerceptronBudgetSonar50FileIO
hs/criterion_drivers/KPerceptronBudgetSonar75FileIO
hs/criterion_drivers/KPerceptronDes20FileIO
hs/criterion_drivers/KPerceptronDesIris50FileIO
hs/criterion_drivers/KPerceptronDesIris75FileIO
hs/criterion_drivers/KPerceptronDesSonar50FileIO
hs/criterion_drivers/KPerceptronDesSonar75FileIO
