*.vo
*.glob
*~
*.aux
*.cache
*.cmi
*.cmx
*.o
hs/*.hi
hs/PerceptronTest
hs/Perceptron.hs
hs/KPerceptronTest
hs/KPerceptron.hs
hs/KPerceptronBudgetTest
hs/KPerceptronBudget.hs
hs/KPerceptronDesTest
hs/KPerceptronDes.hs
