*.vo
*.glob
*~
*.aux
*.cache
*.cmi
*.cmx
*.o
hs/*.hi
hs/*.o
hs/PerceptronTest
hs/Perceptron.hs
hs/KernelPerceptron/KPerceptronTest
hs/KernelPerceptron/KPerceptron.hs
hs/KernelPerceptron/KPerceptronBudgetTest
hs/KernelPerceptron/KPerceptronBudget.hs
hs/KernelPerceptron/KPerceptronDesTest
hs/KernelPerceptron/KPerceptronDes.hs
hs/KernelPerceptron/KPerceptronRunFile
hs/KernelPerceptron/KPerceptronBudgetRunFile
hs/KernelPerceptron/KPerceptronDesRunFile
hs/KernelPerceptron/timing_drivers/*.hi
hs/KernelPerceptron/timing_drivers/*.o
hs/KernelPerceptron/timing_drivers/KPerceptron.hs
hs/KernelPerceptron/timing_drivers/KPerceptronBudget.hs
hs/KernelPerceptron/timing_drivers/KPerceptronDes.hs
hs/KernelPerceptron/timing_drivers/KPerceptronFileIO
hs/KernelPerceptron/timing_drivers/KPerceptronBudgetFileIO
hs/KernelPerceptron/timing_drivers/KPerceptronDesFileIO
